/* INDEX */

/* Estilos gerais da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  /* Estilos do cabeçalho */
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos do banner */
  
  .banner {
    background-image: url('images/otter.jpg');
    background-size: cover;
    color: #810f81;
    text-align: center;
    padding: 100px 0;
  }
  
  .banner h2 {
    margin-top: 0;
  }
  
  .banner p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7e117e;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: #555;
  }
  
  /* Estilos da seção de destaques */
  
  .destaques {
    padding: 50px 0;
    text-align: center;
  }
  
  .produto {
    margin-bottom: 30px;
  }
  
  .produto img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
  }
  
  /* Estilos do footer */
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  /* MAN PAGE */

  header h1 {
    margin: 0;
  }
  
  .produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  
  .produto {
    width: calc(33.33% - 20px); /* mete para 3 colunas */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .produto img {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .descricao {
    padding: 10px;
  }
  
  .descricao h3 {
    margin-top: 0;
  }
  
  .descricao p {
    margin-bottom: 5px;
  }
  
  .btn {
    display: inline-block;
    padding: 8px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #555;
  }