@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat&family=Red+Hat+Display:wght@300&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #756AB6;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

header {
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    background-color: #AC87C5;
}

nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

nav ul {
  width: auto;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

nav ul li a:hover {
  transition: 0.3s ease;
  color: #8f148f;
  font-weight:bolder;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

header div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo h1 {
    margin: 0;
    font-family: 'Black Ops One';
    font-size: 3em;
    color: #000000;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    user-select: none;
}

#spchr {
  color: #8f148f;
}

header .account a {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    background: none;
    border: none;
    color: #000000;
    font-size: 35px;
    text-decoration: none;
    padding: 0;
    background-color: radial-gradient( #2c2c2c, #434343);
    border-radius: 50%;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease;
}

header .account a:hover {
  transition: 0.3s ease;
  color: #8f148f;
}







/* cart items details */

.cart-page{
    margin: 80px auto;

}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #000000;
    font-weight: normal;
    justify-content: center;
}

/* Espaço da table (em cima) */
td{
    padding: 10px 5px;
}

/* Tamanho do input do quantity */
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

/* Deixar o texto "remove" a vermelho e mudar o tamanho da fonte */
td a{
    color:#8f148f;
    font-size: 12px;
}

/* Deixar a imagem mais pequena */
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid #8f148f;
    width: 100%;
    max-width: 400px;
}
/* Alinhar os preços todos */
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

/* burguer button */

header .burger {
    position: relative;
    display: block;
    cursor: pointer;
    width: 45px;
    border: none;
    background: none;
    appearance: none;
    outline: none;
  }
  
  header .burger .bar, .burger::after, .burger::before {
    content: "";
    display: block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    width: 75%;
    height: 2.5px;
    background-color: black;
    margin: 6px 0px;
    transition: 0.4s;
    border-radius: 2px;
  }
  
  header .burger:hover:before, .burger:hover:after, .burger .bar:hover {
    background-color: #8f148f;
    transition: 0.3s ease;
  }
  
  header .burger:hover:after {
    transition: 0.3s ease;
    background-color: #8f148f;
  }
  
  header .burger.is-active:before {
    transform: rotate(-45deg) translate(-3px, 6px);
  }
  
  header .burger.is-active:hover:before {
    transition: 0.3s ease;
    background-color: #8f148f;
  }
  
  header .burger.is-active:hover:after {
    transition: 0.3s ease;
    background-color: #8f148f;
  }
  
  header .burger.is-active:after {
    transform: rotate(45deg) translate(-5px, -9px);
  }
  
  header .burger.is-active .bar {
    opacity: 0%;
  }
  
  .mobile-nav {
    position: fixed;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100vh;
    display: block;
    z-index: 98;
    background-color: #756AB6;
    margin-top: 80px;
    transition: 0.4s;
  }
  
  .mobile-nav.is-active {
    right: 0;
  }
  
  .mobile-nav a {
    display: block;
    text-align: center;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 10px;
    padding: 12px 70px;
    font-size: 25px;
    color: #000000;
    text-decoration: none;
    background-color: rgba(255, 229, 229, 0.60);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease;
  }
  
  .mobile-nav a:hover {
    transition: 0.3s ease;
    color: #8f148f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    transform: scale(1.05);
  }

footer {
    color: #000000;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    height: 5%;
    background-color: #AC87C5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  }

  @media only screen and (max-width: 665px) {
    header .container {
      align-items: center;
    }
  
    header .logo h1 {
      font-size: 2em;
    }
  
    header nav {
      display: none;
    }
  
    header .icons a {
      font-size: 25px;
    }
  
    main {
      width: auto;
    }
  
    main .content {
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
    }
  }
  
  @media only screen and (min-width: 666px ) and (max-width: 1019px) {
    main .content {
      grid-template-columns: repeat(2, 1fr);
    }
  
    header .container {
      align-items: center;
    }
  
    header .logo h1 {
      font-size: 2em;
    }
  
    header nav {
      display: none;
    }
  
    header .icons a {
      font-size: 25px;
    }
  
    main {
      width: auto;
    }
  
  }
  
  @media only screen and (min-width: 1020px ) and (max-width: 1335px) {
    main .content {
      grid-template-columns: repeat(3, 1fr);
    }
  
    header .burger {
      display: none;
    }
  
    .mobile-nav {
      display: none;
    }
  }
  
  @media only screen and (min-width: 1336px ) and (max-width: 1699px) {
    header .burger {
      display: none;
    }
  
    .mobile-nav {
      display: none;
    }
  }
  
  @media only screen and (min-width: 1700px) {
    main .content {
      grid-template-columns: repeat(5, 1fr);
    }
  
    header .burger {
      display: none;
    }
  
    .mobile-nav {
      display: none;
    }
  }

  